<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Додавання/зміна/видалення контактів</title>
</head>
<body>
<b>Вакансія:</b> <br><br>
<b>Position name:</b>{{vacancy_desc.position_name}}
<br><b>Company:</b> {{vacancy_desc.company}}
<br><br><b>Contacts:</b>&emsp;&emsp;&emsp;
{% for one_contact in vacancy_desc.contacts %}
<form action="/vacancy/{{vacancy_id}}/contacts/" method="POST">
    <table style="width: 400px;">
        <tr> <td><input type="hidden" name="record_id" value="{{one_contact._id}}"></td> </tr>
        <tr> <td>Name</td> <td><input type="text" name="name" value="{{one_contact.name}}"></td> </tr>
        <tr> <td>Email</td> <td><input type="text" name="email" value="{{one_contact.email}}"></td> </tr>
        <tr> <td>Phone</td> <td><input type="text" name="phone" value="{{one_contact.phone}}"></td> </tr>
        <tr> <td><input type="checkbox" name="delete"></td><td><b>Видалити</b> контакт</td> </tr>
        <tr> <td></td> <td><input type="submit" value="Оновити контакт"></td>
    </table><br>
</form>
{% endfor %}
------------------------------------------------<br><br>
<b>Додати контакт:</b><br>
<form action="/vacancy/{{vacancy_id}}/contacts/" method="POST">
    <input type="text" name="name" placeholder="Name"><br>
    <input type="text" name="email" placeholder="Email"><br>
    <input type="text" name="phone" placeholder="Phone"><br>
    <input type="submit" value="Додати контакт">
</form>
<br><b><a href="/vacancy/{{vacancy_id}}/">Повернутися до вакансії</a></b>
</body>
</html>