<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <title>Перегляд/оновлення івенту</title>
    <style type="text/css">
    table {
   width: 400px;
    }
    </style>
</head>
<body>
<b>Івент {{event_id}} вакансії {{vacancy_id}}:</b> <br><br>
{{event}}
<br><br>Для оновлення івенту оновіть форму:<br>
<form action="/vacancy/{{vacancy_id}}/events/{{event_id}}/" method="POST">
    <table>
        <tr> <td>Title</td> <td><input type="text" name="title" value="{{event.title}}"></td> </tr>
        <tr> <td>Description</td> <td><input type="text" name="description" value="{{event.description}}"></td> </tr>
        <tr> <td>Due_to_date</td> <td><input type="text" name="due_to_date" value="{{event.due_to_date}}"></td> </tr>
        <tr> <td></td> <td><input type="submit" value="Оновити івент"></td> </tr>
    </table>
</form>

<br><a href="/vacancy/{{vacancy_id}}/events/">Список івентів вакансії</a>
<br><a href="/vacancy/{{vacancy_id}}/">Повернутися до вакансії</a>
<br><a href="/vacancy/">Список вакансій</a>
</body>
</html>