<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <title>Додавання/перегляд користувачів</title>
</head>
<body>
Щоб додати користувача, заповніть форму: <br> <br>
<form action="/user/" method="POST">
    <input type="text" name="name" placeholder="Name"><br>
    <input type="text" name="email" placeholder="E-Mail"><br>
    <input type="text" name="login" placeholder="Login"><br>
    <input type="text" name="password" placeholder="Password"><br>
    <input type="submit" value="Додати користувача">
</form>
<br><b>Список користувачів:</b><br>
<div>
    {% for user in users %}
    {{user}} <br>
    {% endfor %}
</div>
</body>
</html>